body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .palette {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .rectangles {
    display: flex;
    gap: 10px;
  }
  
  .rectangle {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border: 2px solid #bbb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .contain-cat {
    display: flex;
    align-items: end;
    justify-content: end;
    align-self: flex-end;
    margin-right: 250px;
    width: 150px;
    height: 150px;
  }